@import url("https://use.typekit.net/wpu4icz.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html{
    font-family: Proxima Nova
  }
  body {
    
   @apply text-[#07212c]
  }

  li {
    @apply px-4;
    @apply cursor-pointer

  }
}

.nav-item:hover {
  border-bottom: 10px;
  border-color: #a48948;
}

